body {
    margin: 0;
    background-color: #F0F4C3;
    border-top: 15px solid #827717;
}
#canvasWrapper {
    display: flex;
}
#drawingBoard {
    border: 3px solid #827717;
    margin-top: 65px;
    margin-left: 20px;
    background-color: white;
}

/**
    Styling for the toolbar
 */

#toolbarWrapper {
    display: flex;
    flex-direction: row;
    background-color: darkkhaki;
    position: relative;
}

.btn {
    padding: 10px;
    margin: 5px 0 5px 10px;
    background-color: lavender;
    border: 1px solid burlywood;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: burlywood;
}